<!DOCTYPE html>
<html>
  <head>
    
  </head>

  <body>
    <ul>
      <li><a href="/rock"> Play Rock </li></a>
      <li><a href="/paper"> Play Paper </li></a>
      <li><a href="/scissors"> Play Scissors </li></a>
    </ul>
    <%= yield %>

  </body>
</html>
